.destination-hero-section {
    width: 100%;
    height: 540px;
    background-image: url('/images/destination-background-image.jpeg');
    background: linear-gradient(90deg, rgba(0, 35, 77, 0.63) 11.46%, rgba(0, 35, 77, 0.00) 77.37%), url(/images/destination-background-image.jpeg), lightgray 50%;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 112px;
}

.destination-welcome-text {
    display: flex;
    width: 100%;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.destination-welcome-text h1 {
    /* align-self: stretch; */
    font-size: 3em;
    padding-top: 260px;
    letter-spacing: 0.96px;
    font-weight: 700;
}

.destination-welcome-text p {
    text-align: center;
}

.destination-detail-hero-section {
    /* height: 550px; */
    padding: 64px 112px;
    /* display: flex; */
    align-items: flex-start;
}

.destination-detail-hero {
    width: 100%;
    display: flex;
    gap: 8px;
}

.destination-detail-hero-image1 {
    flex: 2.5;
    height: 550px;
    border-radius: 12px 0px 0px 12px;
    background: url(/images/destination-detail-hero-image1.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-detail-hero-image2 {
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.destination-detail-hero-image-1 {
    flex: 1 0 0;
    border-radius: 12px 0px 0px 12px;
    background: url(/images/destination-detail-hero-image2.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-detail-hero-image-2 {
    flex: 1 0 0;
    border-radius: 12px 0px 0px 12px;
    background: url(/images/destination-detail-hero-image3.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.trip-details-section {
    background-color: #fff;
    padding: 64px 112px;
}

.trip-details-container {
    display: flex;
    gap: 48px;
}

.trip-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    border-bottom: 1px solid rgba(166, 170, 172, 0.20);
    /* padding-bottom: 32px; */
}

.date-location {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.trip-location {
    font-size: 2em;
    margin: 0px;
}

.calender-detail {
    display: flex;
    flex-direction: row;
    align-items: baseline;   
}

/* .date-location div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
} */

.calendar-icon {
    margin-right: 8px;
}

.date {
    color: #0F1416;
}

h4, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.trip-overview-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trip-overview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trip-overview-container p {
    font-size: 1em;
    color: #6B7280;
    line-height: 26px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.package-include {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total-package-container {
    flex: 1;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 32px;
}

.price-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.price-option {
    text-align: center;
}

.price-text {
    font-size: 0.9em;
    color: #555;
}

.price-value {
    font-size: 1.2em;
    font-weight: bold;
}

.border-line {
    border-bottom: 2px solid #ccc;
    margin-bottom: 16px;
}

h4 {
    font-size: 1.25em;
}

.booking-form {
    display: flex;
    flex-direction: column
}

input,
    select,
    button {
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }

    select {
        width: 100%;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }